.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(10, 1, 112);
  border-radius: 4px;
  background-color: rgb(233, 118, 127);
  margin-top: 40px;
  max-width: 600px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-shrink: 0;
  min-width: 80px;
  font-size: 12px;
}

.value {
  font-size: 52px;
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
}

.delimiter {
  font-size: 34px;
  font-weight: 600;
  color: rgb(102, 102, 102);
  position: relative;
  top: -11px;
}

.label {
  font-size: 16px;
  font-weight: 800;
}
